<a href="https://colab.research.google.com/github/Manoelcnp/Academico/blob/main/Analise_de_Dados_Campeonato_Brasileiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Importação do Pandas e Numpy

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
## Leia o arquivo 'campeonato-brasileiro-full.scv' e chame de df

In [ ]:
df = pd.read_csv('/content/campeonato-brasileiro-full.csv')

In [ ]:
## Visualize as 5 primeiras linhas do DF

In [ ]:
df.head()

  Rodada        Data Horário  ... Estado Mandante Estado Visitante Estado Vencedor
0      1  2000-07-29   16h00  ...              RJ               BA              RJ
1      1  2000-07-29   16h00  ...              RJ               PE              PE
2      1  2000-07-29   16h00  ...              ES               SP              ES
3      1  2000-07-30   17h00  ...              RJ               MG               -
4      1  2000-07-30   18h30  ...              RS               RJ               -

[5 rows x 13 columns]

In [ ]:
## Localize a linha 310, qual jogo em qual dia foi realizada essa partida

In [ ]:
df.loc[310]

Rodada              SEGUNDA FASE
Data                  2000-11-26
Horário                    17h00
Dia                      Domingo
Mandante                CRUZEIRO
Visitante               MALUTROM
Vencedor                       -
Arena                   Mineirão
Mandante Placar                1
Visitante Placar               1
Estado Mandante               MG
Estado Visitante              PR
Estado Vencedor                -
Name: 310, dtype: object

In [ ]:
df.loc[310][['Mandante','Visitante']]

Mandante     CRUZEIRO
Visitante    MALUTROM
Name: 310, dtype: object

In [ ]:
df.loc[310]['Data']

'2000-11-26'

In [ ]:
##Quantos gols no campeonato brasileiro foram feitos no total?

In [ ]:
df['Total de Gols'] = df['Mandante Placar'] + df['Visitante Placar']

In [ ]:
df['Total de Gols'].sum()

21977

In [ ]:
## Qual horario teve mais jogos no campeonato brasileiro

In [ ]:
df['Horário'].value_counts().sort_values().head()

15:00    1
18:45    1
09h00    1
22h30    1
21:46    1
Name: Horário, dtype: int64

In [ ]:
## Em qual dia da Semana?

In [ ]:
df['Dia'].value_counts()

Domingo          3807
Sábado           1925
Quarta-feira     1559
Quinta-feira      657
Segunda-feira     108
Terça-feira        85
Quarta-Feira       83
Quinta-Feira       39
Sexta-feira        24
Segunda-Feira      23
Sexta-Feira         5
Terça-Feira         4
Name: Dia, dtype: int64

In [ ]:
## colocando as letras em miusculas

In [ ]:
df['Mandante'] = df['Mandante'].str.upper()

In [ ]:
## QUal time mais empatou como mandante

In [ ]:
df[df['Vencedor']=='-']['Mandante'].value_counts().head(1)

FLUMINENSE    106
Name: Mandante, dtype: int64

In [ ]:
df['Visitante'] = df['Visitante'].str.upper()
df[df['Vencedor']=='-']['Visitante'].value_counts().head(1)

CORINTHIANS    111
Name: Visitante, dtype: int64

In [ ]:
## Time com maior numero de gols como mandante

In [ ]:
por_mandante = df.groupby('Mandante')

In [ ]:
por_mandante['Mandante Placar'].sum().sort_values(ascending = False).head(1)

Mandante
SANTOS    736
Name: Mandante Placar, dtype: int64

In [ ]:
## Desafio crie uma coluna apenas com o ano da partida, e responda qual time mais empatou como mandante no ano de 2019#

In [ ]:
#Dica nos temos que usar a função Lambda para isso

In [ ]:
df['ano'] = df['Data'].apply(lambda data : data.split('-')[0] )

In [ ]:
df['ano']

0       2000
1       2000
2       2000
3       2000
4       2000
        ...
8314    2021
8315    2021
8316    2021
8317    2021
8318    2021
Name: ano, Length: 8319, dtype: object

In [ ]:
df[(df['Vencedor'] == '-')&(df['ano'] == '2021')]['Mandante'].value_counts()

PALMEIRAS        4
CORITIBA         3
ATLÉTICO-GO      3
SÃO PAULO        3
ATHLÉTICO-PR     2
GRÊMIO           2
CORINTHIANS      2
BRAGANTINO       2
SPORT            1
FLUMINENSE       1
FORTALEZA        1
BAHIA            1
INTERNACIONAL    1
SANTOS           1
GOIÁS            1
VASCO            1
ATLÉTICO-MG      1
Name: Mandante, dtype: int64